 <div id="form">
   <p>Year:</p>
  <select name="year" id="year">
    <option>2003</option>
    <option>2004</option>
    <option>2005</option>
    <option>2006</option>
    <option>2007</option>
    <option>2008</option>

  </select>
  <p>Quarter:</p>
  <select name="quarter" id="quarter">
    <option>Q1</option>
    <option>Q2</option>
    <option>Q3</option>
    <option>Q4</option>
  </select>
  <p>Percentile:</p>
  <select name="percentile" id="percentile">
    <option>30</option>
    <option>60</option>
    <option>90</option>
  </select>
  <p>Building Type:</p>
  <select name="building_type" id="building_type">
    <option value="1">House</option>
    <option value="3">Condo</option>
    <option value="4">Co-op</option>
    <option value="5">Commercial</option>
    <option value="13">Single-Family Townhouse</option>
    <option value="14">Multi-Family Townhouse</option>
  </select>
  <button id="submit">Visualize!</button>
  <div id="table">
  <table>
    <tr>
      <td>Borough</td>
      <td>Color</td>
    </tr>
  <tr>
    <td>Manhattan</td>
    <td style="background-color: #1f77b4;"></td>
  </tr>
  <tr>
    <td>Queens</td>
    <td style="background-color: #aec7e8;"></td>
  </tr>
  <tr>
    <td>Bronx</td>
    <td style="background-color: #ff7f0e;"></td>
  </tr>
  <tr>
    <td>Brooklyn</td>
    <td style="background-color: #ffbb78;"></td>
  </tr>
  <tr>
    <td>Staten Island</td>
    <td style="background-color: #2ca02c;"></td>
  </tr>
</table>
</div>
 </div>

<div id="svg_graph">
  <script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var width = 700,
    height = 500,
    radius = Math.min(width, height) / 2;

var color = d3.scale.category20();

var pie = d3.layout.pie()
    .value(function(d) { return d.prices; })
    .sort(null);

var arc = d3.svg.arc()
    .innerRadius(radius - 100)
    .outerRadius(radius - 20);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.csv("data.csv", type, function(error, data) {
  var path = svg.datum(data).selectAll("path")
      .data(pie)
    .enter().append("path")
      .attr("fill", function(d, i) { return color(i); })
      .attr("d", arc)
      .each(function(d) { this._current = d; }); // store the initial angles

  d3.selectAll("input")
      .on("change", change);

  // var timeout = setTimeout(function() {
  //   d3.select("input[value=\"oranges\"]").property("checked", true).each(change);
  // }, 2000);

  function change() {
    var value = this.value;
    clearTimeout(timeout);
    pie.value(function(d) { return d[value]; }); // change the value function
    path = path.data(pie); // compute the new angles
    path.transition().duration(750).attrTween("d", arcTween); // redraw the arcs
  }
});

function type(d) {
  d.prices = +d.prices || 0;
  d.oranges = +d.oranges || 0;
  return d;
}

// Store the displayed angles in _current.
// Then, interpolate from _current to the new angles.
// During the transition, _current is updated in-place by d3.interpolate.
function arcTween(a) {
  var i = d3.interpolate(this._current, a);
  this._current = i(0);
  return function(t) {
    return arc(i(t));
  };
}

</script>
</div>
