body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

svg {
  position: relative;
  top: -605px;
  left: 365px;
}

#form {
  display:inline-block;
  position: relative;
}

#prices {
  position: relative;
  top: -270px;
  left: 629px;
}
