body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

#svg_graph {
  display:inline-block;
  float:right;
}

#form {
  display:inline-block;
  position: relative;
  top: -185px;
}